.mainheader {
  position: sticky;
  .nav {
    padding: 16px 24px;
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      .listItem {
        .logo {
          width: 100px;
        }
      }
    }
  }
}
