@import '../../../scss/variables.scss';

.mainheader {
  position: sticky;
  .nav {
    padding: 16px 24px;
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      .largeNav {
        display: flex;
      }
      .mobileNav {
        display: flex;
        align-items: flex-start;

        button {
          margin-right: 5em;
          font-size: 7px;
        }
      }
      .listItem {
        .logo {
          width: 100px;
          @include tablet {
            width: 180px;
          }
          @include desktop {
            width: 200px;
          }
        }
      }
    }
  }
}
