@import '../../scss/variables.scss';

%sharedStyles {
  font-size: 8px;
  padding: 0.6em 5em 0.6em 5em;
  border: 1px solid transparent;
  text-decoration: none;
  background-color: transparent;
  font-weight: 900;
  border-width: 1px;
  border-radius: 2em;
  border-style: solid;
  color: white;
  border-radius: 2em;
  border-color: $woloxBlue;
  @include tablet {
    font-size: 15px;
  }
}

.base {
  @extend %sharedStyles;
  color: black;
  padding: 0.6em 2em 0.6em 2em;
  border: none;
}

.primary {
  @extend %sharedStyles;
  background-color: $woloxBlue2;
  padding: 0.6em 3em 0.6em 3em;
}

.outlined {
  @extend %sharedStyles;
}

.outlinedNav {
  @extend %sharedStyles;
  color: $woloxBlue;
}
