.cardContainer {
  // width: 100;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  width: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cardImage {
    width: 90%;
    max-width: 69px;
    padding-top: 1em;
    height: 50px;
  }
  .cardText {
    display: flex;
    align-items: center;
    height: 50px;
  }
}
