.container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  .title {
    display: flex;
    width: 120px;
    img {
      width: 20px;
      height: 20px;
      padding-right: 0.5em;
    }
  }
}
