@import "../../../scss/variables.scss";

.benefits {
  padding: 0.5em;
  .blue {
    color: $woloxBlue;
    font-weight: 500;
  }
  .benefitsHeading {
    font-size: 0.9em;
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  }
  .iconsGrid {
    padding-top: 2em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
      }
      .text {
        margin-top: 2em;
        font-size: 0.8em;
        text-align: center;
      }
    }
    h3 {
      justify-items: center;
    }
  }
}
